{% extends 'base.html.twig' %}

{% block title %}Annonces immobilières{% endblock %}

{% block body %}

    <div class="container-acc">
        <p><a href="{{ path('app_account') }}"><img class="icon-fleche" src="/assets/images/fleche-fine-contour-vers-la-gauche.png" alt="icon flèche gauche">Retour</a></p>
		
        
	</div>

{% endblock %}
