{% extends 'base.html.twig' %}

{% block title %}Annonces immobilières
{% endblock %}

{% block body %}
	<div class="container-acc">
		<h1 class="titre-account">Mon compte
		</h1>
		<p class="email-account">{{app.user.email}}</p>
		<div class="flex container-2div-acc">
			<a  class="flex center-vertical containers-acc left-acc" href="{{ path('app_favoris') }}">
				<div>
					<img class="icons-acc" src="/assets/images/coeur.png" alt="icon-coeur">
				</div>
				<div>
					<h2>Favoris</h2>
					<p>Biens immobiliers enregistrés</p>
				</div>
			</a>
			<a class="flex center-vertical containers-acc right-acc" href="{{ path('app_gestion') }}">
				<div>
					<img class="icons-acc" src="/assets/images/avatar-de-profil.png" alt="icon-user">
				</div>
				<div>
					<h2>Gérer mon compte</h2>
					<p>E-mail, mot de passe</p>
				</div>
			</a>
		</div>
		<p class=" text-center deconnexion-acc link-underline">
			<a href="{{ path('app_logout') }}">Se déconnecter</a>
		</p>
	</div>

{% endblock %}
