<div class="footer">
	<footer>
		<div class="social-media">
			<div class="flex">
				<p>Retrouvez nous sur ...</p>
				<p class="contact"><a href="{{ path('app_contact') }}">Nous contacter</a></p>
			</div>
			<div class="icons-social-media">
				<div class="icons">
					<a href="">
						<img src="/assets/images/facebook.png" alt="">
					</a>
				</div>
				<div class="icons">
					<a href="https://twitter.com/ABICHI69">
						<img src="/assets/images/twitter.png" alt="">
					</a>
				</div>
				<div class="icons">
					<a href="https://www.linkedin.com/in/jairo-yamoha-5852b224b/">
						<img src="/assets/images/linkedin.png" alt="">
					</a>
				</div>
				<div class="icons">
					<a href="https://www.instagram.com/jonas.jota/">
						<img src="/assets/images/instagram.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="made-by">
			<p>
				Made with &hearts; by
				<a href="https://github.com/ABICHI-J" target="_blank">Jairo</a>
				and
				<a href="https://github.com/tdrew23" target="_blank">Tariq</a>
			</p>
		</div>
	</footer>
</div>
