<footer>
    <div>
        <p>Retrouvez nous sur ...</p>
        <div>
            <div>
                <a href="">
                    <img src="/assets/images/instagram.png" alt="">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="/assets/images/facebook.png" alt="">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="/assets/images/twitter.png" alt="">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="/assets/images/linkedin.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div></div>
    <div>
        <p class="">
            Made with &hearts; by <a href="#" target="_blank">Jairo</a> and <a href="#" target="_blank">Tariq</a>
        </p>
    </div>
    
</footer>