<form method="post" action="{{ path('app_annonces_crud_delete', {'id': annonce.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
    <button class="delete">Supprimer</button>
</form>
