{% extends 'base.html.twig' %}

{% block title %}Edit Annonces{% endblock %}

{% block body %}
<div class="container-edit-new-crud">
    <h1>Edit Annonces</h1>

    {{ include('annonces_crud/_form.html.twig', {'button_label': 'Enregistrer'}) }}

</div>
{% endblock %}
