{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
<div class="container-edit-new-crud">
    <h1>Créer un nouveau annonce</h1>

    {{ include('annonces_crud/_form.html.twig') }}
</div>

{% endblock %}
