/*--------HEADER--------*/
*{
  font-family: Arial, Helvetica, sans-serif;
}

.header, header {  
    height: 10vh;
  }
  header {
    box-shadow: 0px 2px 2px 0px rgb(177, 177, 177);
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    z-index: 1;
    font-weight: 700;
  }
  .logo-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .name-img-logo {
    width: 220px;
    height: 60%;
    margin-left: 50px;
  }
  .name-img-logo a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  #img-logo {
    width: 20% ;
    height: 100%;
  }
  #title {
    width: 75%;
    height: 60%;
  }
  nav {
    margin-left: 50px;
    overflow: hidden;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li{
    margin: 14px 16px;
  }
  nav li:hover {
    border-bottom: 5px solid #4CB;
    margin-bottom: 5px;
  }
  nav li a {
    text-align: center;
    color: #000;
    text-decoration: none;
  }

/*--------FOOTER--------*/

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(26, 63, 116);
  color: rgb(215, 209, 209);
  height: 25vh;
}
.social-media, .made-by, .separator {
  width: 95%;
  margin: auto;
}
.icons-social-media {
  display: flex;
}
.icons, .social-media p{
  margin: 14px 16px;
}
.separator {
  height: 0.5px;
  background-color: rgb(191, 188, 188);
}
.made-by  {
  text-align: center;
}
.made-by p a {
  color: red;
    text-decoration: none;
}

/*--------INSCRIPTION--------*/


.form {
  background-color: aliceblue;
  width: 30%;
  padding: 20px;
  margin: 100px auto ;
  border: #000 1px solid;
  border-radius: 10px;
}
.flex {
  display: flex;
  align-items: center;
}
.flex p {
  margin-right: 10px;
}
.sec{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 100%;
}
/*-------Annonces-------*/
.annonces {
  display: flex;
  flex-wrap: wrap;
}

.annonce {
  display: flex;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex: 1;
  max-width: 600px; 
}

.annonce img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.annonce .details {
  padding: 10px;
  flex: 1;
}

.annonce h2 {
  font-size: 20px;
  margin: 0;
  font-weight: bold; 
}

.annonce p {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold; 
  width: 100%; 
}

.annonce a {
  display: inline-block;
  background-color: #FF6F61;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.annonce a:hover {
  background-color: #E95A4E;
}

/*-------Connexion-------*/
form {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 30px;
  color: #333;
}

label, input[type="email"], input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

input[type="email"], input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  font-size: 16px;
  color: #555;
}

input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px #aaa;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #0bda00;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  }

  button[type="submit"]:hover {
    background-color: #0aff00;
    cursor: pointer;
  }