/*--------HEADER--------*/
*{
  font-family: Arial, Helvetica, sans-serif;
}

.header, header {  
    height: 10vh;
  }
  header {
    box-shadow: 0px 2px 2px 0px rgb(177, 177, 177);
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    z-index: 1;
    font-weight: 700;
  }
  .logo-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .name-img-logo {
    width: 220px;
    height: 60%;
    margin-left: 50px;
  }
  .name-img-logo a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  #img-logo {
    width: 20% ;
    height: 100%;
  }
  #title {
    width: 75%;
    height: 60%;
  }
  nav {
    margin-left: 50px;
    overflow: hidden;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li{
    margin: 14px 16px;
  }
  nav li:hover {
    border-bottom: 5px solid #4CB;
    margin-bottom: 5px;
  }
  nav li a {
    text-align: center;
    color: #000;
    text-decoration: none;
  }

/*--------FOOTER--------*/

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(26, 63, 116);
  color: rgb(215, 209, 209);
  height: 25vh;
}
.container{
  display: flex;
}
.text-social-media{
  padding-left: 200px;
}
.text-social-media a{
  color: red;
} 
.social-media, .made-by, .separator {
  width: 95%;
  margin: auto;
}
.icons-social-media {
  display: flex;
}
.icons, .social-media p{
  margin: 14px 16px;
}
.separator {
  height: 0.5px;
  background-color: rgb(191, 188, 188);
}
.made-by  {
  text-align: center;
}
.made-by p a {
  color: red;
    text-decoration: none;
}

/*--------INSCRIPTION--------*/


.form {
  width: 30%;
  padding: 30px;
  margin: 50px auto ;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.flex {
  width: 100%;
  display: flex;
  align-items: center;
}
.flex p {
  margin-right: 10px;
}
.form-register {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.sec{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
input[type="text"], input[type="tel"], input[type="email"] , input[type="password"], select{
  display: block;
  width: 100%  ;
  margin-bottom: 30px;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  font-size: 16px;
  color: #555;
}
select{
  width: 62%;
}
input[type="checkbox"]{
  margin-bottom: 30px;
}
/*-------Annonces-------*/
.annonces {
  display: flex;
  flex-wrap: wrap;
}

.annonce {
  display: flex;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex: 1;
  max-width: 600px; 
}

.annonce img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.annonce .details {
  padding: 10px;
  flex: 1;
}

.annonce h2 {
  font-size: 20px;
  margin: 0;
  font-weight: bold; 
}

.annonce p {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold; 
  width: 100%; 
}

.annonce a {
  display: inline-block;
  background-color: #FF6F61;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.annonce a:hover {
  background-color: #E95A4E;
}

/*-------Connexion-------*/
.form-login {
  width: 400px;
  margin: 50px auto ;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 30px;
  color: #333;
}

label, #inputEmail, #inputPassword {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
#inputEmail, #inputPassword {
  padding: 10px 2px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  font-size: 16px;
  color: #555;
}

#inputEmail:focus, #inputPassword:focus {
  box-shadow: 0px 0px 5px #aaa;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #0bda00;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  }

  button[type="submit"]:hover {
    background-color: #0aff00;
    cursor: pointer;
  }

/*--------CART-------*/
.carts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cart img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.cart h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart p {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart .prices {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart a {
  background-color: #0aff00;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  }

.cart a:hover {
  background-color: #1e1e3c;
}

/*--------HEADER--------*/

.form-contact {
  width: 80%;
  margin: 50px auto;
  padding: 30px;
  background-color: #f5f5f5;

}
.champs-left{
  width: 30%;
}
.champs-right{
  width: 67%;
}
.champs-contact, .champs-prenom-nom {
  display: flex;
  justify-content: space-between;
}
input#contact_firstname, input#contact_lastname, input#contact_email, input#contact_subject, textarea#contact_message {
  padding: 15px 0px;
  padding-left: 10px;
}
textarea#contact_message {
  width: 98.5%;
  height: 75%;
  margin-bottom: 0px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  font-size: 16px;
  color: #555;
}
.prenom-contact, .nom-contact{
  width: 45%;
}
button.btn-contact {
  right: 0px;
  display: block;
  width: 40%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #0bda00;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  }

button.btn-contact:hover {
  background-color: #0aff00;
  cursor: pointer;
}

/*----------HOME----------*/


.img-home{
  width: 100%;
  height: 500px;
  background-image: url("/assets/images/building-home.jpg");
  background-size: cover;
  background-position: center;
}

.annonces-block {
  padding: 20px;
  background-color: #f6f6f6;
}

.annonces-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.annonce {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  width: calc(25% - 15px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.annonce-image {
  flex: 0 0 40%;
}

.annonce-image img {
  display: block;
  width: 100%;
  height: auto;
}

.annonce-details {
  flex: 0 0 60%;
  padding: 10px;
}

.annonce h3 {
  font-size: 18px;
  margin-top: 0;
}

.annonce p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
}

.annonce .price {
  font-size: 16px;
  font-weight: bold;
}

.promo-banners {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.promo-banner {
  flex-basis: calc(33.33% - 20px);
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.promo-banner img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.promo-banner h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.promo-banner p {
  font-size: 16px;
  margin-bottom: 10px;
}

.promo-banner a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0088cc;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.promo-banner a:hover {
  background-color: #005580;
}
