<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
		

	</head>
	<body>

		{% include 'partials/nav.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'partials/footer.html.twig' %}
{% block javascripts %}
	<script src="/assets/js/favorite.js"></script>
{% endblock %}

	</body>
</html>
