<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
       

        {% block javascripts %}
    {% endblock %}
    </head>
    <body>
        {% include 'partials/nav.html.twig'%}
        {% block body %}
        
        {% endblock %}
        {% include 'partials/footer.html.twig'%}

    </body>
</html>
