<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
<<<<<<< HEAD

  
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
=======
       
>>>>>>> 5c6b17159e5d3341a6688756aad07f95ba1665a7

        {% block javascripts %}
    {% endblock %}
    </head>
    <body>
<<<<<<< HEAD

=======
>>>>>>> 5c6b17159e5d3341a6688756aad07f95ba1665a7
        {% include 'partials/nav.html.twig'%}
        {% block body %}
        
        {% endblock %}
        {% include 'partials/footer.html.twig'%}

    </body>
</html>
